<mat-card>
  <mat-tab-group>
    <mat-tab label="Alle Mitarbeiter">

  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Geburtstag</th>
        <td mat-cell *matCellDef="let row"> {{row.progress}}%</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="vorname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Vorname</th>
        <td mat-cell *matCellDef="let row"> {{row.vorname}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Name</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="fruit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Gehaltsklasse</th>
        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator aria-label="Select page of users"></mat-paginator>
  </div>
    </mat-tab>

    <mat-tab label="Neue Mitarbeiter hinzufügen"> Content 2 </mat-tab>

    <mat-tab label="Fehler gefunden"> Du hast einen Fehler in der Mitarbeiterliste gefunden? Du hast geheiratet? Dann schreibe in dieses Formular die Mitarbeiter ID und welche Daten inkorrekt sind. Wir prüfen deine Eingabe und kümmern uns anschließend darum.
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>MitarbeiterID</mat-label>
          <input matInput placeholder=" " value=" ">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gefundener Fehler</mat-label>
          <textarea matInput placeholder=" "></textarea>
        </mat-form-field>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
